body {
    font-family:'Segoe UI', 'Arial', Arial;
    
}

header {
    height: 150px;
    padding-top: 20px;
    background-color: #858585;
}

.photo {
    margin-left: 10%;
    border-radius: 10%;
    width: 120px;
    height: 140px;
    overflow: hidden;
}
.des{
    margin-left: 20%;
    margin-top: -8%;
}   
h3{
    color: #92d7b7;
    font-weight: bold;
    letter-spacing: .1rem;
    font-size:25px;
}
h4{
    margin-left: 10%;
    color: #92d7b7;
    font-size: 18px;
}
hr.light{
    color: #92d7b7;
    border-top: 2px solid;
    width: 85%;
    margin-top: -1rem ;
    margin-bottom: 1rem;
}
.div{
    margin-left: 10%;
}

.skills {
    padding: 0px;
    margin-right: 10%;
    margin-left: 10%;
}
footer {
    text-align: center;
}